<div class="group column">
  <igx-select type="border" *ngFor="let item of northwindCategories" class="user-input">
    <igx-select-item [value]="item.description">{{ item.description }}</igx-select-item>
  </igx-select>
</div>
<div class="group_1 column">
  <igx-grid [data]="northwindCategories" primaryKey="categoryID" [autoGenerate]="false" displayDensity="cosy" width="800px" height="400px" class="grid">
    <igx-column header="categoryID" field="categoryID" dataType="number" [sortable]="true" [filterable]="true" [searchable]="true" [selectable]="true" title="categoryID" [disablePinning]="false" [disableHiding]="false"></igx-column>
    <igx-column header="description" field="description" dataType="string" [sortable]="true" [filterable]="true" [searchable]="true" [selectable]="true" title="description" [disablePinning]="false" [disableHiding]="false"></igx-column>
    <igx-column header="name" field="name" dataType="string" [sortable]="true" [filterable]="true" [searchable]="true" [selectable]="true" title="name" [disablePinning]="false" [disableHiding]="false"></igx-column>
  </igx-grid>
  <igx-card type="outlined" class="card">
    <igx-card-header>
      <h3 igxCardHeaderTitle>
        
      </h3>
      <h5 igxCardHeaderSubtitle>
        
      </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <p class="igx-typography__body-1 text"></p>
    </igx-card-content>
    <igx-card-actions class="actions-content">
      <button igxButton="flat" igxRipple class="user-input">Button</button>
      <button igxButton="icon" igxRipple>
        <igx-icon>favorite</igx-icon>
      </button>
      <button igxButton="icon" igxRipple>
        <igx-icon>bookmark</igx-icon>
      </button>
      <button igxButton="icon" igxRipple>
        <igx-icon>share</igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
</div>
